@{
    ViewData["Title"] = "Hoşgeldiniz";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Karbon Ayak İzi Hesaplama</h1>
    <p class="lead">Sadece 2 dakikada dünyadaki izinizi hesaplayın.</p>
    <hr class="my-4">
    <p>Başlamak için lütfen butona tıklayın.</p>
    <a href="/Home/Step1_UserInfo" class="btn btn-success btn-lg" role="button">Hesaplamaya Başla</a>
</div>

<script>
    window.onload = function() {
        if (typeof SurveyManager !== 'undefined') {
            SurveyManager.clearAllData();
        }
    };
</script>